/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  font-weight: 700;
  color: white;
  line-height: 4rem;
  background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* z-index: 2000; */
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.first {
  font-size: 3rem;
}

.second {
  font-size: 5rem;
}